circle {
  r: 10px;
  
  fill: rgba(255, 0, 0, 1);
  stroke: black;
}

#output[operation="dragVertex"]   circle { cursor: move; }
#output[operation="addVertex"]    circle { cursor: crosshair; }
#output[operation="renameVertex"] circle { cursor: text; }
#output[operation="addEdge1"]     circle { cursor: pointer; }
#output[operation="addEdge2"]     circle { cursor: alias; }

line {
  stroke: black;
  
  stroke-width: 2px;
}

text {
  pointer-events: none;
}
