circle {
  r: 10px;
  
  fill: rgba(255, 0, 0, 0.5);
  stroke: black;
  
  transition: r 0.5s, fill 1s;
}

circle:active {
  r: 12.5px;
}

#output[operation="dragVertex"]   circle { cursor: move; }
#output[operation="addVertex"]           { cursor: crosshair; }
#output[operation="renameVertex"] circle { cursor: text; }
#output[operation="removeVertex"] circle { cursor: not-allowed; }
#output[operation="addEdge1"]     circle { cursor: pointer; }
#output[operation="addEdge2"]     circle { cursor: alias; }

line {
  stroke-width: 3px;
  
  stroke: black;
  
  transition: stroke-width 1s, stroke 1s;
}

text {
  pointer-events: none;
}
